<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MSSQLProvider" value="System.Data.SqlClient"/>
		<add key="MySQLProvider" value=""/>
		<add key="OracleProvider" value=""/>

		<add key="ActiveDatabase" value="MSSQL"/>
		
		<!--<add key="ActiveDatabase" value="MySQL"/>-->
		<!--<add key="ActiveDatabase" value="Oracle"/>-->
	</appSettings>
	<connectionStrings>
		<add name="MSSQLProvider" connectionString="Data Source=DESKTOP-RRST477\SQLEXPRESS;Initial Catalog=testDB;Integrated Security=True"/>
		<add name="MySQLProvider" connectionString=""/>
		<add name="OracleProvider" connectionString=""/>
	</connectionStrings>
</configuration>